# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Study data files
fileprime = "../output_data/weather_data.csv"

# Read the weather data and the study results
weather_data = pd.read_csv(fileprime)

# Combine the data into a single dataset
weatherdf = pd.DataFrame(weather_data)
weatherdf

,city,country,latitude,longitude,date,cloudiness,humidity,max_temp,windspeed
0,New Norfolk,AU,-42.7826,147.0587,1651192286,100,82,67.91,4.12
1,Ostrovnoy,RU,68.0531,39.5131,1651192286,96,85,16.05,19.71
2,Metro,ID,-5.1131,105.3067,1651192286,94,82,79.45,3.24
3,Kirakira,SB,-10.4544,161.9205,1651192287,100,75,84.24,4.29
4,Mataura,NZ,-46.1927,168.8643,1651192287,3,65,58.48,0.72
...,...,...,...,...,...,...,...,...,...
537,Gambēla,ET,8.2500,34.5833,1651192498,100,85,72.99,2.17
538,Burns Lake,CA,54.2331,-125.7533,1651192498,100,55,45.82,8.63
539,Isabela,PH,6.7085,121.9711,1651192498,100,85,86.05,5.91
540,West Bay,KY,19.3667,-81.4167,1651192499,20,80,80.01,6.91
541,Vryburg,ZA,-26.9566,24.7284,1651192499,98,66,56.28,11.52

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps 
gmaps.configure(api_key=g_key)

In [4]:
# Use the Lat and Lng as locations and Humidity as the weight..
locations = weatherdf[["latitude", "longitude"]].astype(float)
humidityprime = weatherdf["humidity"].astype(float)
# print(locations)
# print(Humidity)

In [5]:
# Add Heatmap layer to map.
fig = gmaps.figure(center=(48.0, 0.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights = humidityprime, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1, opacity=1)

fig.add_layer(heat_layer)

plt.savefig("vacationheatmap.png")
fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the cities to fit weather conditions.
narrowed_city_df = weatherdf.loc[(weatherdf["windspeed"] <10)
                                &(weatherdf["cloudiness"]==0)&
                           (weatherdf["max_temp"]<80)&(weatherdf["max_temp"]>70),:]

narrowed_city_df

,city,country,latitude,longitude,date,cloudiness,humidity,max_temp,windspeed
47,Manaus,BR,-3.1019,-60.0250,1651192305,0,89,79.29,2.30
131,Jalu,LY,29.0331,21.5482,1651192337,0,13,75.92,4.29
217,Umluj,SA,25.0213,37.2685,1651192369,0,59,79.59,9.57
286,Adrar,MR,20.5022,-10.0711,1651192399,0,15,73.47,8.99
379,Isla Vista,US,34.4133,-119.8610,1651192361,0,52,70.79,5.75
450,Iranshahr,IR,27.2025,60.6848,1651192467,0,27,79.14,4.61
458,Guarapari,BR,-20.6667,-40.4975,1651192389,0,89,75.88,7.90
533,São Miguel do Araguaia,BR,-13.2750,-50.1628,1651192247,0,62,74.55,4.43

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
# use iterrows to iterate through pandas dataframe

 #loop through df
for index, row in hotel_df.iterrows():

   # set up a parameters dictionary
    lat = row['latitude']
    long = row['longitude']
    City = row['city']
    Country = row['country']

    # run a request using our params dictionary
    print(f"Retrieving Results for Index {index}: {City}.")
    response = requests.get(f"https://maps.googleapis.com/maps/api/place/textsearch/json?location={lat},{long}&radius=5000&type=hotel&key={g_key}").json()
    
    # extract results
    results = response['results']
    #print(json.dumps(hotel_data, indent=4, sort_keys=True))
    try:
        hotelname = response['results'][7]['name']
        print(f"Closest hotel to {City} at {lat} , {long} is {hotelname}.")
        
        hotel_df.loc[index, "Hotel Name"] = hotelname
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 47: Manaus.
Closest hotel to Manaus at -3.1019 , -60.025 is Mercure Manaus Hotel.
------------
Retrieving Results for Index 131: Jalu.
Closest hotel to Jalu at 29.0331 , 21.5482 is بيت البهارات.
------------
Retrieving Results for Index 217: Umluj.
Closest hotel to Umluj at 25.0213 , 37.2685 is Al Rajhi ATM.
------------
Retrieving Results for Index 286: Adrar.
Missing field/result... skipping.
------------
Retrieving Results for Index 379: Isla Vista.
Closest hotel to Isla Vista at 34.4133 , -119.861 is Santa Barbara Airport.
------------
Retrieving Results for Index 450: Iranshahr.
Closest hotel to Iranshahr at 27.2025 , 60.6848 is شرکت پیام بلوچ.
------------
Retrieving Results for Index 458: Guarapari.
Closest hotel to Guarapari at -20.6667 , -40.4975 is Hotel Guarapousada.
------------
Retrieving Results for Index 533: São Miguel do Araguaia.
Closest hotel to São Miguel do Araguaia at -13.275 , -50.1628 is Casa do Caçador.
------------

In [8]:
narrowed_city_df

,city,country,latitude,longitude,date,cloudiness,humidity,max_temp,windspeed,Hotel Name
47,Manaus,BR,-3.1019,-60.0250,1651192305,0,89,79.29,2.30,Taj Mahal Continental Hotel
131,Jalu,LY,29.0331,21.5482,1651192337,0,13,75.92,4.29,إستراحة صلاح الصادق
217,Umluj,SA,25.0213,37.2685,1651192369,0,59,79.59,9.57,Juman Hotel
286,Adrar,MR,20.5022,-10.0711,1651192399,0,15,73.47,8.99,NaN
379,Isla Vista,US,34.4133,-119.8610,1651192361,0,52,70.79,5.75,Courtyard by Marriott Santa Barbara Goleta
450,Iranshahr,IR,27.2025,60.6848,1651192467,0,27,79.14,4.61,مهمانسرا گاز
458,Guarapari,BR,-20.6667,-40.4975,1651192389,0,89,75.88,7.90,Hotel Guarapousada
533,São Miguel do Araguaia,BR,-13.2750,-50.1628,1651192247,0,62,74.55,4.43,Hotel São Miguel

In [12]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["city","country", "latitude", "longitude"]]


hotel_df["Hotel Name"] = ""


hotel_df

                       city country  latitude  longitude Hotel Name
47                   Manaus      BR   -3.1019   -60.0250
131                    Jalu      LY   29.0331    21.5482
217                   Umluj      SA   25.0213    37.2685
286                   Adrar      MR   20.5022   -10.0711
379              Isla Vista      US   34.4133  -119.8610
450               Iranshahr      IR   27.2025    60.6848
458               Guarapari      BR  -20.6667   -40.4975
533  São Miguel do Araguaia      BR  -13.2750   -50.1628

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["latitude", "longitude"]]

In [16]:
# Add marker layer ontop of heat map
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))